body{
    margin: 100px;

}

img{
    width: 400px;
    height: 200px;
}

.hide{
    display:none;
}

.images{
    display:flex;
    gap: 20px;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
}

.main{
    display: grid;
    gap: 10px;
    min-width: 100vh;
}

.number{
    display: flex;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
}